<!-- We may need dynamic set some style -->

<script>

// set ol margin-left to align paragraph (because ol>li' list-style-position = outsider
// => marker not aligned. but we shouldn't set it to insider, because we need li 
// content align)
(function(){
// you can only get pseudo element by getComputedStyle
// see https://insidethediv.com/select-css-pseudo-element-using-javascript
const li = document.querySelector("ol>li");
if (li === null) {
    return;
}
const widthStr = window.getComputedStyle(li, "::marker")["width"];
console.log("This browser render ol marker width = %s", widthStr);

var s = document.createElement("STYLE");
s.setAttribute("type", "text/css");
s.innerHTML = `ol { margin-left: ${widthStr}; }`;
document.head.appendChild(s);

})();

</script>

<script>
    (function(){
        {% include extra_fn/dependency_3rd/font-detect-cmd.js %}
        var UBUNTU_FEATURE_FONT = "Noto Sans CJK SC";
        
        var fonts = [
            UBUNTU_FEATURE_FONT
        ];
        var ubuntu_handler = function() {
            document.body.style.fontWeight = 300;
            console.log("In Ubuntu feature font '%s', set font weight -> 300", 
                UBUNTU_FEATURE_FONT);
        }

        var fontDetector = new FontDetector();

        fontDetector.detect(fonts, function(err, results) {
            for(var i = 0; i < results.length; i++) {
                var available = results[i],
                    font = fonts[i];
                if (!available) {
                    continue;
                }
                switch (font) {
                    case UBUNTU_FEATURE_FONT:
                        ubuntu_handler();
                }
            }
        });
    })();
</script>