<!-- dynamic set some style -->

<script>
// SET ol>li margin-left to align paragraph (because ol>li' list-style-position = outsider
// => marker not aligned. but we shouldn't set it to insider, because we need li 
// content align)
(function(){
// you can only get pseudo element by getComputedStyle
// see https://insidethediv.com/select-css-pseudo-element-using-javascript
const li = document.querySelector("ol>li");
if (li === null) {
    return;
}
const widthStr = window.getComputedStyle(li, "::marker")["width"];
const markerWidth = parseInt(widthStr);
const REASONABLE_MARKER_MAX_WIDTH = 60;

if (markerWidth <= REASONABLE_MARKER_MAX_WIDTH) {
    var s = document.createElement("STYLE");
    s.setAttribute("type", "text/css");
    s.innerHTML = `ol { margin-left: ${widthStr}; }`;
    document.head.appendChild(s);
    console.log("This browser render li marker width = %s, "
        + "set it's 'margin-left' attr to align.", widthStr);
} else {
    console.log("This browser render li marker width = %s, "
        + "it seem invalid, do nothing.", widthStr);
}


})();

</script>
