<!-- dynamic set some style -->

<script>
// SET ol>li margin-left to align paragraph (because ol>li' list-style-position = outsider
// => marker not aligned. but we shouldn't set it to insider, because we need li 
// content align)
(function(){
// you can only get pseudo element by getComputedStyle
// see https://insidethediv.com/select-css-pseudo-element-using-javascript
const li = document.querySelector("ol>li");
if (li === null) {
    return;
}
const widthStr = window.getComputedStyle(li, "::marker")["width"];
const markerWidth = parseInt(widthStr);
const REASONABLE_MARKER_MAX_WIDTH = 60;

if (markerWidth <= REASONABLE_MARKER_MAX_WIDTH) {
    var s = document.createElement("STYLE");
    s.setAttribute("type", "text/css");
    s.innerHTML = `ol { margin-left: ${widthStr}; }`;
    document.head.appendChild(s);
    console.log("This browser render li marker width = %s, "
        + "set it's 'margin-left' attr to align.", widthStr);
} else {
    console.log("This browser render li marker width = %s, "
        + "it seem invalid, do nothing.", widthStr);
}


})();

</script>

<script>
    // set font-weight according to render font.
    (function(){
        // include font-detect-cmd.js
        {% include extra_fn/dependency_3rd/font-detect-cmd.js %}
        // start self logic.
        const UBUNTU_FEATURE_FONT = "Noto Sans CJK SC",
            WIN_FEATURE_FONT = "Microsoft YaHei";
        
        var fonts = [
            UBUNTU_FEATURE_FONT,
            WIN_FEATURE_FONT
        ];
        var setFontWeight = function(weight, font, system) {
            var nodes = document.getElementsByClassName('post-content');
            if (!nodes) {
                return;
            }
            var content = nodes[0];
            content.style.fontWeight = weight;
            console.log("In %s feature font '%s', set font weight -> %s", system, font, weight);
        }

        var fontDetector = new FontDetector();

        fontDetector.detect(fonts, function(err, results) {
            for(var i = 0; i < results.length; i++) {
                var available = results[i],
                    font = fonts[i];
                if (!available) {
                    continue;
                }
                switch (font) {
                    case UBUNTU_FEATURE_FONT:
                        setFontWeight(300, font, "Ubuntu");
                        break;
                    case WIN_FEATURE_FONT:
                        setFontWeight(300, font, "Windows");
                        break;
                }
            }
        });
    })();
</script>