{% assign google_site_query = site.url | default: site.baseurl | remove: 'https://' | remove: 'http://' | strip %}
<a
    class="site-search-trigger"
    href="https://www.google.com/search?q=site%3A{{ google_site_query | uri_escape }}"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="打开 Google 搜索本站"
    title="打开 Google 搜索本站"
    data-tooltip="打开 Google 搜索本站"
>
    <svg class="site-icon" aria-hidden="true" focusable="false">
        <use href="{{ '/assets/site/icons.svg' | relative_url }}#icon-search" xlink:href="{{ '/assets/site/icons.svg' | relative_url }}#icon-search"></use>
    </svg>
</a>
