<!-- Google code prettify -->

<link href="/assets/js/third-party/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
<script id="google_prettify_script" type="text/javascript" async 
  src="/assets/js/third-party/google-code-prettify/prettify.js"></script>

<script type="text/javascript">
[].forEach.call(document.getElementsByTagName("pre"), function(el) {
    el.classList.add("prettyprint", "linenums");
  });
document.getElementById("google_prettify_script").addEventListener("load", function(e) {
  prettyPrint();
})

</script>
