<div id="side-nav-toc-container" class="nav-list">
    <div class="nav-toc-bar">
        <svg class="site-icon site-icon--list" aria-hidden="true" focusable="false">
            <use href="{{ '/assets/site/icons.svg' | relative_url }}#icon-list" xlink:href="{{ '/assets/site/icons.svg' | relative_url }}#icon-list"></use>
        </svg>
        目录
    </div>
    <div id="toc-nav"></div>
</div>
<div id="back-to-top">
    <a href="#top" role="button" aria-label="Back to top">
        <svg class="site-icon site-icon--back-to-top" aria-hidden="true">
            <use href="{{ '/assets/site/icons.svg' | relative_url }}#icon-chevron-up" xlink:href="{{ '/assets/site/icons.svg' | relative_url }}#icon-chevron-up"></use>
        </svg>
        返回顶部
    </a>
</div>
