// set container size

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

// GLOBAL

/**
   * elements
   */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $body-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-dark-color;
    background-color: $body-bg;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

ol {
    // 非常关键！
    // list-style-position 必须是 outside, 这样才能保证list换行后的文本是在 list-item 之外的；
    // 具体 margin 多少，需要根据字体来判定…… 这需要JS来支持。
    margin-left: 1.6em;
}

ul {
    margin-left: 1em;
}

ul {
    list-style-type: square;
}

li>p {
    text-indent: 0;
    margin: 5px 0;
}

li {
    margin: 3px 0;
}

p {
    text-align: justify;
}

.text-center p {
    text-align: center;
}

strong {
    color: $text-dark-strong-color;
}

a {
    color: $link-color;
}


blockquote {
    font-size: $base-font-size;
    font-family: $blockquote-font-family;
    background-color: darken($body-bg, 1%);
    border-left: 0.6em solid $header-bg;
    padding: 6px 5px;
}

blockquote:first-child {
    font-family: $body-font-family;
    background-color: darken($body-bg, 2%);
    border-left: 1em solid $header-bg;
    padding:1em 1.5em 1em 1.5em;
    position: relative;
}

blockquote:first-child::before {
    content: open-quote;
    font-family: "webfont", "Open Sans", sans-serif;
    color: $text-dark-grey-color;
    line-height: .1em;
    position: absolute;
    left: -.5em;
    top: .5em;
    font-size: 2.2em;
}

blockquote:first-child::after {
    content: close-quote;
    font-family: "webfont", "Open Sans", sans-serif;
    color: $text-dark-grey-color;
    line-height: .1em;
    position: absolute;
    right: -.5em;
    bottom: 0;
    font-size: 2.2em;
}

blockquote+blockquote {
    margin-top: - $spacing-unit / 4;
}

/**
  *  Helper
  */
.no-padding {
    padding: 0;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
   * Clearfix
   */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}