// Site footer
.site-footer {
    padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) 0;
    background-color: $footer-bg;
    position: relative;
}

.site-footer .site-signature {
    width: 180px;
    position: absolute;
    right: 30px;
    bottom: 20px;
    filter: opacity(0.7);
    transform: rotate(-15deg);
}

.text-decoration-none {
    text-decoration: none !important;
    color: $text-dark-color;
}