// pagenation in index.html

.pagination {
  width: 100%;
  margin: 10px 0;
  padding: 10px 25px;
}

.pagination .pre {
  float: left;
  width: 20%;
  text-align: left;
}

.pagination .nxt {
  float: left;
  width: 20%;
  text-align: right;
}

.pagination .num {
  text-align: center;
  float: left;
  width: 60%;
}

.pagination:after {
  clear: both;
  display: table;
  height: 0;
  content: "";
}

// Content

.contentpanel {
  margin-bottom: 10px;
}

// post-list in index.html

ul.post-list {
  list-style: none;
  margin-left: 0;
  padding: 0;

  >li {
    margin: 0;
    border-bottom: 1px solid $decorate-color;
    padding: 10px 0;

    >h3 {
      margin: 0;
      padding: 20px 0 5px 0;
    }
  }
}

a.post-link {
  display: block;
  font-size: $base-font-size + 6px;
  font-family: $header-font-family;
  font-weight: 350;
  color: $text-dark-color;
}

.post-excerpt {
  color: $text-dark-grey-color;
  padding: 5px 0;
}

// post-meta, in index.html and posts.

.post-meta {
  font-size: $small-font-size;
  color: $text-dark-grey-color;
  padding: 5px 0;
}

.post-meta .tag-bubble {
  background-color: $header-bg;
  border-radius: 8px;
  padding: 5px;
  margin-left: 5px;
}

.post-meta .tag-bubble+.tag-bubble {
  margin-left: 10px;
}

@include media-query($on-laptop) {
  .post-meta .tag-wrapper {
    display: none;
  }
}

.post-graph {
  font-size: $small-font-size * 0.9;
  margin-left: 20px;
  margin-right: 4px;
}

.post-graph:first-of-type {
  margin-left: 0;
}

// Categories

.clear-border {
  border: none;
}

.clear-margin-horizontal {
  margin-left: 0;
  margin-right: 0;
}

.clear-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

#category_panel {
  background-color: $body-bg;

  .list-group-item {
    background-color: transparent;
    border: none;
  }
  ul.list-group {
    margin-left: 0;
  }
}

#listcontent {
  padding-left: 20px
}
