// pagenation in index.html

.pagination {
  width: 100%;
  margin: 10px 0;
  padding: 10px 25px;
}

.pagination .pre {
  float: left;
  width: 20%;
  text-align: left;
}

.pagination .nxt {
  float: left;
  width: 20%;
  text-align: right;
}

.pagination .num {
  text-align: center;
  float: left;
  width: 60%;
}

.pagination:after {
  clear: both;
  display: table;
  height: 0;
  content: "";
}

// Content

.contentpanel {
  margin-bottom: 10px;
  margin-top: 10px;
}

.contentpanel a {
  color: $text-dark-color;
  border-bottom: 1px solid $link-color;
  text-decoration: none; // use border as underline, disable default.
  line-height: 1;
}

.contentpanel a:hover {
  transition: box-shadow .2s linear;
  box-shadow: inset 0 -0.4em $link-color;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift 1.8s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23" + str-slice("" + $link-color, 2) + "' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 0.3em;
  background-repeat: repeat-x;
}

.contentpanel a:visited {
  border-bottom: 1px solid $link-visited-color;
}

// post-list in index.html

ul.post-list {
  list-style: none;
  margin-left: 0;
  padding: 0;

  >li {
    margin: 0;
    border-bottom: 1px solid $decorate-color;
    padding: 18px 0;

    >h3 {
      margin: 0;
      padding: 5px 0;
    }
  }
}

a.post-link {
  font-size: $base-font-size + 6px;
  font-weight: 300;
  color: $text-dark-color;
  border-bottom: none;
}

a.post-link:hover {
  background-image: none;
}

.post-excerpt {
  color: $text-dark-grey-color;
  padding: 5px 0;
  font-weight: 300;
}

// post-meta, in index.html and posts.

.post-meta {
  font-size: $small-font-size;
  color: $text-dark-grey-color;
  padding: 5px 0;
  line-height: 1.6;
}

.post-meta .tag-bubble {
  background-color: $header-bg;
  border-radius: 8px;
  padding: 5px;
  margin-left: 5px;
}

.post-meta .tag-bubble+.tag-bubble {
  margin-left: 10px;
}

.post-meta .cate-tag-group {
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
}

.post-meta .tag-group {
  @include media-query($on-laptop) {
      display: none;
  }
}

.post-graph {
  font-size: $small-font-size * 0.9;
  margin-left: 20px;
  margin-right: 4px;
}

.post-graph:first-of-type {
  margin-left: 0;
}

// Categories

.clear-border {
  border: none;
}

.clear-margin-horizontal {
  margin-left: 0;
  margin-right: 0;
}

.clear-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

#category_panel {
  background-color: $body-bg;

  .list-group-item {
    background-color: transparent;
    border: none;
  }
  ul.list-group {
    margin-left: 0;
  }
}

#listcontent {
  padding-left: 20px
}
