// Posts

#toc-content {
    background: darken($body-bg, 2%); // same as blockquote:first-child
    border-top: 4px solid $header-bg;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    position: relative;
}

#toc-content::before {
    content: "目录";
    display: block;
    position: absolute;
    bottom: 0.3rem;
    right: 1rem;
    font-size: 2.5rem;
    color: $header-bg;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 35px 0 40px 0;
    text-align: center;
}

.post-content {
    >:last-child {
        margin-bottom: 0;
    }
    >:first-child {
        margin-top: 0;
    }
    // no h1 in content
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1.2rem 0;
        color: $text-dark-strong-color;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    h5,
    h6 {
        font-size: 1em;
    }

    p {
        margin: 1rem 0;
        word-break: break-word;
    }

    ol>li,ul>li {
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
    ol,ul {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    p+ul, p+ol {
        margin-top: -0.3rem;
    }
    li p {
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }

    table {
        width: 100%;
        margin: 10px 5px;
    }

    table td,
    th {
        border-bottom: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        padding: 5px 5px;
    }

    table tr th:last-child,
    td:last-child {
        border-right: none;
    }

    table th {
        // color: #fff;
        // background-color: #3fa7cb;

        text-align: center;
    }

    >blockquote:first-child {
        background-color: darken($body-bg, 2%);
        border-left: 1em solid $header-bg;
        padding:1em 1.5em 1em 1.5em;
        position: relative;
        margin-bottom: 2rem;
    }

    >blockquote:first-child::before {
        content: open-quote;
        font-family: "webfont", "Open Sans", sans-serif;
        color: $text-dark-grey-color;
        line-height: .1em;
        position: absolute;
        left: -.5em;
        top: .6em;
        font-size: 2.2rem;
    }

    >blockquote:first-child::after {
        content: close-quote;
        font-family: "webfont", "Open Sans", sans-serif;
        color: $text-dark-grey-color;
        line-height: .1em;
        position: absolute;
        right: -.2em;
        bottom: 0;
        font-size: 2.2rem;
    }

    blockquote p:first-child {
        margin-top: 0.3rem;
    }
}

.footnote::before { content: " "; }

.footnotes {
    font-size: 0.8rem;
    padding: 1rem 1rem 0.5rem 1rem;
    margin-top: 4rem;
    position: relative;
    background-color: darken($body-bg, 2%);
}

.footnotes::before {
    content: "Footnotes";
    font-family: "webfont", "Open Sans", sans-serif;
    color: $header-bg;
    position: absolute;
    line-height: .1rem;
    top: -0.2rem;
    left: -0.1rem;
    font-size: 2.2rem;
}

.footnotes a {
    color: $text-dark-grey-color;
}

.footnotes p {
    font-size: 0.8rem;
    text-align: justify;
}

.post-image {
    text-align: center;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    color: $text-dark-more-grey-color;
}

.post-image img {
    margin-bottom: 0.8rem;
}

.post-image .img-float {
    border-left: solid 1px $text-dark-grey-color;
}

.post-image .caption-short {
    text-align: center;
}

.post-image .caption-long {
    text-align: left;
    padding: 0 3em;
}

.media-func {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-sep {
    margin-top: 10px;
}