.sinablogb {
    background-image: none;
    @include media-query($on-laptop) {
        background-image: none;
    }
}
.sinabloga {
    background-image: none;
    @include media-query($on-laptop) {
        background-image: none;
    }
}
