{% if page.use_gallery %}
<!-- Gallery part -->
<link rel="stylesheet" href="{{ '/assets/css/gallery.css' | relative_url }}">
<script src="{{ '/assets/js/gallery_video_lazy_load.js' | relative_url }}" defer></script>
<link rel="stylesheet" href="{% link '/assets/third-party/photoswipe/photoswipe.css' %}">

<script type="module">
  import PhotoSwipeLightbox from "{% link '/assets/third-party/photoswipe/photoswipe-lightbox.esm.min.js' %}";
  
  const lightbox = new PhotoSwipeLightbox({
    gallery: '.gallery-scroll',
    children: 'a',
    pswpModule: () => import("{% link '/assets/third-party/photoswipe/photoswipe.esm.min.js' %}"),
    preloadFirstSlide: false
  });
  lightbox.init();

</script>
{% endif %}