<header class="site-page-header">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-offset-1 col-md-10 col-xs-12 col-sm-12"> -->
                <div class="col-md-offset-1 col-md-3 col-xs-4 col-sm-4">
                    <img src="{% link /assets/site/fslogo.png %}" class="site-logo"/>
                    <!-- <img src="{% link /assets/site/fstext.png %}" width="200px"/> -->
                </div>
                <div class="col-md-5 col-xs-10 col-sm-10">
                <h1 class="site-title">
                    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
                </h1>
                <p class="site-description">
                    {{site.description}}
                </p>

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-navbar-collapse" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Brand</a>
                      </div>
                  
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="site-navbar-collapse">
                        <ul class="nav navbar-nav">
                          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                          <li><a href="#">Link</a></li>
                          
                        </ul>
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                  </nav>
                <!-- <div class="sina-blog-head">
                    <div class="topArea">
                        <div class="site-title">
                            <a href="{{ site.baseurl }}/">{{ site.title }}</a>
                        </div>
                        <div class="blog-description" id="blog-description">
                            {{site.description}}
                        </div>
                        <nav class="site-nav">
                            <a href="{{ "/" | prehend site.baseurl }}">首页</a>
                            <a href="{{ "/categories" | prehend site.baseurl }}">分类</a>
                            <a href="{{ "/tags" | prehend site.baseurl }}">标签</a>
                            <a href="{{ "/about" | prehead site.baseurl }}">关于</a>
                        </nav>
                    </div>
                    <div class="search-box">
                        {% include extra_fn/google_search.html %}
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</header>

