<div class="row">
    <div class="col-md-offset-1 col-md-10 col-xs-12 col-sm-12">
        <header class="sina-blog-head">
            <div class="topArea">
                <div class="site-title">
                    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
                </div>
                <div class="blog-description" id="blog-description">
                    {{site.description}}
                </div>
                <nav class="site-nav">
                    <a href="{{ "/" | prehend site.baseurl }}">首页</a>
                    <a href="{{ "/list" | prehend site.baseurl }}">目录</a>
                    <a href="{{"/me" | prehead site.baseurl }}">关于我</a>
                </nav>
            </div>
        </header>
    </div>
</div>