<footer class="site-footer">
    <div class="text-center">
        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}"
            class="text-decoration-none">
            <svg class="site-icon site-icon--github" aria-hidden="true" focusable="false">
                <use href="{{ '/assets/site/icons.svg' | relative_url }}#icon-github" xlink:href="{{ '/assets/site/icons.svg' | relative_url }}#icon-github"></use>
            </svg>
        </a>
        {% endif %}
        {{ site.title }} @{{ site.time | date: "%Y.%m" }}
    </div>
</footer>


{% include extra_fn/google_analytics_js.html %}
