<div class="post-meta">
    <div class="post-meta__primary">
        <span class="post-meta__item">
            <svg class="post-meta__icon" aria-hidden="true" focusable="false">
                <use href="{{ '/assets/site/icons.svg' | asset_digest | relative_url }}#icon-date" xlink:href="{{ '/assets/site/icons.svg' | asset_digest | relative_url }}#icon-date"></use>
            </svg>
            <span>{{ doc.date | date: "%Y/%m/%d" }}</span>
        </span>
        {% if doc.content %}
        <span class="post-meta__item">
            <svg class="post-meta__icon" aria-hidden="true" focusable="false">
                <use href="{{ '/assets/site/icons.svg' | asset_digest | relative_url }}#icon-time" xlink:href="{{ '/assets/site/icons.svg' | asset_digest | relative_url }}#icon-time"></use>
            </svg>
            <span>{{ doc.content | strip_html | strip_newlines | size }} 字</span>
        </span>
        {% endif %}
        {% if include.pageview %}
        <span class="post-meta__item pageview-cnt-container hidden">
            <svg class="post-meta__icon" aria-hidden="true" focusable="false">
                <use href="{{ '/assets/site/icons.svg' | asset_digest | relative_url }}#icon-eye"></use>
            </svg>
            <span>
                <span class="waline-pageview-count" data-path="{{ doc.url | relative_url }}">...</span>
                次
            </span>
        </span>
        {% endif %}
    </div>

    <div class="post-meta__secondary">
        {% if doc.categories %}
        <span class="post-meta__group post-meta__group--category">
            <svg class="post-meta__icon" aria-hidden="true" focusable="false">
                <use href="{{ '/assets/site/icons.svg' | asset_digest | relative_url }}#icon-category" xlink:href="{{ '/assets/site/icons.svg' | asset_digest | relative_url }}#icon-category"></use>
            </svg>
            <span class="post-meta__chips">
                {% for category in doc.categories %}
                <span>{{ category }}</span>
                {% endfor %}
            </span>
        </span>
        {% endif %}

        {% if doc.tags %}
        <span class="post-meta__group post-meta__group--tags">
            <svg class="post-meta__icon" aria-hidden="true" focusable="false">
                <use href="{{ '/assets/site/icons.svg' | asset_digest | relative_url }}#icon-tag" xlink:href="{{ '/assets/site/icons.svg' | asset_digest | relative_url }}#icon-tag"></use>
            </svg>
            <span class="post-meta__chips">
                {% for tag in doc.tags %}
                <span class="tag-bubble">{{ tag }}</span>
                {% endfor %}
            </span>
        </span>
        {% endif %}
    </div>
</div>
