--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 
@charset "utf-8";

$font-special: 
    SFProDisplay-Regular //针对微信小程序
;
$font-en-formal:
    'San Francisco', 'Helvetica Neue', Menlo, // apple english
    consolas, // win english
    'Ubuntu' // ubuntu english
;
$font-en-easy:
    'San Francisco', 'Helvetica Neue', Menlo, // apple english
    consolas, // win english
    'Ubuntu Mono' // ubuntu english
;
$font-cn-sans:
    'PingFang SC', // mac Chinese
    'Microsoft YaHei', // win Chinese
    'Noto Sans CJK SC', 'WenQuanYi Micro Hei' // ubuntu Chinese
;

$font-cn-serif:
    "Songti SC", //mac
    "SimSun", //win
    "AR PL Sungti", "Noto Serif CJK SC" // ubuntu
;

$font-kai:
    "STKaiti", Kai, // mac
    "KaiTi", // win
    "AR PL UKai CN" // ubuntu
;  

$font-code: 
    "Monaco", "Menlo", // apple
    "consolas", // win
    "Ubuntu Mono" // ubuntu
;

$spacing-unit: 20px;

$text-dark-color: #333;
$text-dark-grey-color: #444;
$text-dark-more-grey-color: #767676;
$text-dark-strong-color: #000;
$header-text-color: #00537f;
$header-text-color-dark: darken($header-text-color, 10%);
$link-color: #b0e4ff; 
$link-visited-color: #c1f2fe;
$explicit-link-color: $header-text-color; // use in explicit href, instead of text.

$decorate-color: rgba(#000, .1);
$brand-color: #3fa7cb;

$body-bg: #fcfeff;
$header-bg: #e1f5ff;
$footer-bg: $header-bg;

$font-dir: "/assets/site/font";

// see https://v3.bootcss.com/css/#overview
$screen-sm-min: 768px;
$screen-md-min: 992px; 
$screen-lg-min: 1200px;

$on-phone: $screen-sm-min; 
$on-desktop: $screen-md-min;
$on-large-desktop: $screen-lg-min;

$phone-font-size: 15px;
$desktop-font-size: 18px;
$base-line-height: 1.65;

@mixin media-query($min_width) {
    @media screen and (min-width: $min_width) {
        @content;
    }
}

@mixin media-query-range($min_width, $max_width) {
    @media screen and (min-width: $min_width) and (max-width: $max_width) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base",
    "header",
    "footer",
    "layout",
    "post",
    // for side-nav, TOC style
    "side_nav",
    // code highlight
    "nimbus-pygments",
    "webfont",
    "overwrite3rd"
    ;