<!DOCTYPE html>
<html>
<head>
{% include sinabloghead.html %}
</head>
<body>
<div class="sinabloga">
    <div class="sinablogb">
        <div class="wrapper">
            {% include sinablogheader.html  %}
            <div class="contentpanel">
                <h1 class="post-title">{{ page.title }}</h1>
                <p class="post-meta">
                {{ page.date | date: "%b %-d, %Y"  }}
                {% if page.author %} • {{ page.author }}{% endif %}
                {% if page.meta %} • {{ page.meta }}{% endif %}
                {% if page.tags %}
                    {% for t in page.tags %}{{t}} {% endfor %}
                {% endif %}
                {% if page.categories %}
                    {% for category in page.categories %} {{category}} {% endfor %}
                {% endif %}
                </p>
                <article class="post-content">
                    {{content}}
                </article>
            </div>
            {% include sinablogfooter.html %}
        </div>
    </div>
</div>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true ,
        //skipTags: ["script","noscript","style","textarea","pre","code"] ,
        skipTags: ["script","noscript","style","textarea"]
    } ,
    jax: ["input/TeX", "output/HTML-CSS"],
    "HTML-CSS": {
            scale : 115 , 
            //availableFonts: ["Asana","consolas","mono","Tex"],
            preferredFonts: null ,
            webFont:"STIX-Web",
            //imageFont:"consolas",
            //undefinedFamily:"consolas,STIXGeneral,'Arial Unicode MS',serif" ,
            mtextFontInherit: true 
    }
});
</script>
<!--
<script type="text/javascript"
src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
-->
<script src="//cdn.bootcss.com/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" >
var jiathis_config={
    summary:"",
    shortUrl:false,
    hideMore:true
}
</script>
</body>

</html>
