<!DOCTYPE html>
<html>
<head>
{% include sinabloghead.html %}
</head>
<body>
<div class="sinabloga">
    <div class="sinablogb">
        <div class="wrapper">
            {% include sinablogheader.html  %}
            <div class="contentpanel">
                <h1 class="post-title">{{ page.title }}</h1>
                <p class="post-meta">
                {{ page.date | date: "%b %-d, %Y"  }}
                {% if page.author %} • {{ page.author }}{% endif %}
                {% if page.meta %} • {{ page.meta }}{% endif %}
                {% if page.tags %}
                    {% for t in page.tags %}{{t}} {% endfor %}
                {% endif %}
                {% if page.categories %}
                    {% for category in page.categories %} {{category}} {% endfor %}
                {% endif %}
                </p>
                <article class="post-content">
                    {{content}}
                </article>
            </div>
            {% include sinablogfooter.html %}
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ "/js/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML" | prepend: site.baseurl }}"></script>
</body>

</html>
