<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
  {% include head.html %}
</head>

<body>
  {% include page_header.html %}

  <section class="container post-page">
    <div class="contentpanel">
      <h1 class="post-title">{{ page.title }}</h1>
      {% assign doc=page %}
      {% include post_meta.html pageview=true %}
      <!-- TOC -->
      {% include extra_fn/content_toc.html %}
      <!-- post-content -->
      <article class="post-content">
        {{content}}
      </article>
      <div class="content-sep"></div>

      <div class="media-func">
        {% include extra_fn/share_js_tag.html %}
        {% include extra_fn/waline-comment.html %}
      </div>
    </div>
  </section>

  <div class="page-side-rail" style="display: none;">
    {% include extra_fn/side_nav.html %}
  </div>
  {% include page_footer.html %}

  {% include extra_fn/load_toc_js.html %}
  {% include extra_fn/share_js_script.html %}
  {% include extra_fn/mathjax_script.html %}
  {% include extra_fn/prism.html %}
  {% include extra_fn/link_target_blank_script.html %}
  {% include extra_fn/dynamic_style_setter.html %}
  {% include extra_fn/waline-pageview-load.html %}

</body>

</html>
