<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    {% include head.html %}
</head>

<body>
    {% include page_header.html  %}

    <section class="container">
        <div class="row">
            <div class="contentpanel col-md-offset-1 col-md-10 col-xs-12 col-sm-12">
                <h1 class="post-title">{{ page.title }}</h1>
                {% assign doc=page %}
                {% include post_meta.html  %}
                <!-- TOC -->
                {% include extra_fn/toc_content_top_tag.html %}
                <!-- post-content -->
                <article class="post-content">
                    {{content}}
                </article>
            </div>
            <div class="right-side col-md-1 hidden-xs hidden-sm">
                {% include extra_fn/toc_side_nav_tag.html %}
            </div>
        </div>

        <div class="content-sep"></div>

        <div class="row media-func">
            <div class="col-md-offset-1 col-md-10 clear-padding-horizontal">
                {% include extra_fn/share_js_tag.html %}
                {% comment %}
                    // disable disqus, use isso.
                    // {% include extra_fn/disqus_tag.html %}
                {% endcomment %}
                {% include extra_fn/isso_tag.html %}
            </div>
        </div>

    </section>
    {% include page_footer.html %}

    {% include extra_fn/toc_js.html %}
    {% include extra_fn/share_js_script.html %}
    {% include extra_fn/mathjax_script.html %}
    {% include extra_fn/link_target_blank_script.html %}
    {% include third_resource/bootstrap_js.html %}
    {% comment %}
        // now use self-host comments 
        // {% include extra_fn/disqus_script.html %}
    {% endcomment %}
</body>

</html>
