<!DOCTYPE html>
<html>
<head>
{% include sinabloghead.html %}
</head>
<body>
<div class="sinabloga">
    <div class="sinablogb">
        <div class="wrapper">
            {% include sinablogheader.html  %}
            <div class="contentpanel">
                <h1 class="post-title">{{ page.title }}</h1>
                <p class="post-meta">
                {{ page.date | date: "%b %-d, %Y"  }}
                {% if page.author %} • {{ page.author }}{% endif %}
                {% if page.meta %} • {{ page.meta }}{% endif %}
                {% if page.tags %}
                    {% for t in page.tags %}{{t}} {% endfor %}
                {% endif %}
                {% if page.categories %}
                    {% for category in page.categories %} {{category}} {% endfor %}
                {% endif %}
                </p>
                <article class="post-content">
                    {{content}}
                </article>
            </div>
            <div class="media-func">
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_douban"></a>
                    <a class="jiathis_button_pocket"></a>
                    <a class="jiathis_button_evernote"></a>
                    <a class="jiathis_button_ydnote"></a>
                    <a class="jiathis_button_email"></a>
                </div>
                <!-- UY BEGIN -->
                <!-- <div id="uyan_frame"></div> -->
            </div>
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="{{ page.id }}" 
                data-title="{% if page.title  %}{{ page.title}}{% else %}{{site.title}}{% endif %}" 
                data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"></div>
            <!-- 多说评论框 end -->
            {% include sinablogfooter.html %}
        </div>
    </div>
</div>
<!-- scripts -->
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" >
var jiathis_config={
    summary:"",
    shortUrl:false,
    hideMore:true
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=2056015" charset="utf-8"></script>
<!-- JiaThis Button END -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"readonlyfile"};
(
 function() {
 var ds = document.createElement('script');
 ds.type = 'text/javascript';ds.async = true;
 ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
 ds.charset = 'UTF-8';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
 }
)();
</script>
<!-- 多说公共JS代码 end -->

</body>

</html>
