<!DOCTYPE>
<html lang="zh_CN">
    <head>
    {% include sinabloghead.html %}
    </head>
    <body>
        <div class="sinabloga">
            <div class="sinablogb">
                <div class="container-fluid">
                    
                    {% include sinablogheader.html  %}

                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 contentpanel purple-topborder shadow">
                            {{ content }} 
                        </div>   
                    </div>
                    {% include pagination.html  %}
                    {% include sinablogfooter.html %}
                </div>
            </div>
        </div>
    </body>
</html>
