<!DOCTYPE html>
<html>
<head>
    {% include sinabloghead.html %}
</head>
<body>
<div class="sinabloga">
    <div class="sinablogb">
        <div class="container-fluid">

            {% include sinablogheader.html  %}

            <div class="row">
                <div class="contentpanel col-md-offset-2 col-md-8 col-xs-12 col-sm-12">
                    <h1 class="post-title">{{ page.title }}</h1>
                    <p class="post-meta">
                    {{ page.date | date: "%b %-d, %Y"  }}
                    {% if page.author %} • {{ page.author }}{% endif %}
                    {% if page.meta %} • {{ page.meta }}{% endif %}
                    {% if page.tags %}
                        {% for t in page.tags %}{{t}} {% endfor %}
                    {% endif %}
                    {% if page.categories %}
                        {% for category in page.categories %} {{category}} {% endfor %}
                    {% endif %}
                    </p>
                    
                    <!-- TOC -->
                    {% include extra_fn/toc_content_top_tag.html %}
                    <!-- post-content -->
                    <article class="post-content">
                        {{content}}
                    </article>
                </div>
                <div class="right-side col-md-2 hidden-xs hidden-sm">
                    {% include extra_fn/toc_side_nav_tag.html %}
                </div>
            </div>

            <div class="content-sep"></div>

            <div class="row media-func">
                <div class="col-md-offset-2 col-md-8">
                    {% include extra_fn/share_js_tag.html %}
                    {% include extra_fn/disqus_tag.html %}
                </div>
            </div>
            {% include sinablogfooter.html %}

        </div>
    </div>
</div>

{% include extra_fn/toc_js.html %}
{% include extra_fn/share_js_script.html %}
{% include extra_fn/mathjax_script.html %}
{% include extra_fn/google_code_prettify_script.html %}
{% include extra_fn/disqus_script.html %}

</body>
</html>
